* {
    margin: 0;
    box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
    width: 100%;
    height: 5em;
    background-color: rgba(37, 39, 53, 0);
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    
}

.burger-menu {
    height: 75%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 4em;
    height: 0.4em;
    background-color: rgb(27, 28, 29);
    border-radius: 0.5em;
}

.menu {
    width: 250px;
    height: 60vh;
    /* background-color: rgba(52, 58, 70, 0.743); */
    background: rgba(58, 58, 58, 0.99);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25), inset 3px 4px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    border-radius: 5px;
    z-index: -1;
    transition: ease-in-out 1s;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.5em, 1.00em);
    background-color: rgb(218, 221, 224);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    background-color: rgb(218, 221, 224);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.4em, 0.892em);
    background-color: rgb(218, 221, 224);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}






